@font-face {
	font-family: Grotesque;
	src: url(../assets/fonts/BasisGrotesquePro-Regular.woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Grotesque;
	src: url(../assets/fonts/BasisGrotesquePro-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Grotesque;
	src: url(../assets/fonts/BasisGrotesquePro-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}